---
layout: home
---
<header>
    <div class="container">
        <h1>Phil Reynolds</h1>
        <h3>Personal website, blog and portfolio</h3>
        <p class="subheading">I'm a software developer and team leader.<br/>I build engaging tools which aim to
            add value to the world. </p>
        <p class="subheading"> I'm currently working as the Lead Software Developer for the Legal Innovation Lab Wales.
            You can find out more about the lab at <a href="https://legaltech.wales">LegalTech.Wales</a> and find out
            more about my team's work on our <a href="https://developer.legaltech.wales">dev page</a>. A lot of things
            will be cross posted here for posterity.</p>
        <p>If you want to get in touch, there's some links at the top of the page, or you can check out the <a
                href="#projects">projects</a> I've worked on or <a href="#blog">read</a> some of the things I've
            written.
        </p>
        <div class="down-arrow"><a href="#blog"><i class="fas fa-7x fa-chevron-down"></i></a></div>
    </div>
</header>

{% include_relative _home-sections/blog.liquid %}
{% include_relative _home-sections/projects.liquid %}
