---
layout: home
---
<h1>Purple River</h1>
<h2>Personal webiste, blog and portfolio of Phil Reynolds</h2>
<p class="subheading">I'm a software developer and team leader. I like building engaging tools which add value to the
    world. </p>
<p class="subheading"> I'm currently working as the Lead Software Developer for the Legal Innovation Lab Wales. You can
    find out more about the lab at <a href="https://legaltech.wales">LegalTech.Wales</a> and find out more about my
    teams work on our <a href="https://developer.legaltech.wales">dev page</a>. A lot of things will be cross posted
    here for posterity.</p>

{% include_relative _home-sections/projects.liquid %}
{% include_relative _home-sections/blog.liquid %}