<header>
    <nav>
        <a href="mailto:hello@purpleriver.dev" class="btn" data-toggle="tooltip" data-placement="top" title="Contact">
            <i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/Phil6" class="btn" data-toggle="tooltip" data-placement="top" title="LinkedIn">
            <i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/phil-6/" class="btn" data-toggle="tooltip" data-placement="top" title="GitHub">
            <i class="fab fa-github"></i></a>
        <a href="https://twitter.com/PurpleRiver_Dev" class="btn" data-toggle="tooltip" data-placement="top" title="Twitter">
            <i class="fab fa-twitter"></i></a>
        <a href="https://www.polywork.com/philreynolds" class="btn" data-toggle="tooltip" data-placement="top" title="Polywork">
            <i class="fas fa-puzzle-piece"></i></a>
        {% comment %}<a href="/assets/files/PhilReynolds-CV_2020-02.pdf" class="btn" data-toggle="tooltip" data-placement="top" title="Download CV">{% endcomment %}
            {% comment %}<i class="fas fa-file-download"></i></a>{% endcomment %}
        <button id="blog-theme-toggle">
            <i class="fas fa-moon light"></i>
            <i class="fas fa-sun dark"></i>
        </button>
    </nav>
</header>