<nav>
    <div class="theme">
        <button class="btn theme-button" id="theme-toggle">Theme</button>
        <button class="btn color-button" id="color-switch">Colour</button>
        <button class="btn grad-button" id="grad-toggle">Toggle Gradient</button>
    </div>
    <div class="social">
        <a class="btn" data-placement="top" data-toggle="tooltip" href="mailto:hello@purpleriver.dev" title="Contact">
            <i class="fas fa-envelope"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/Phil6"
           title="LinkedIn">
            <i class="fab fa-linkedin"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://github.com/phil-6/" title="GitHub">
            <i class="fab fa-github"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://twitter.com/PurpleRiver_Dev"
           title="Twitter">
            <i class="fab fa-twitter"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://bsky.app/profile/purpleriver.dev"
           title="Bluesky">
            <i class="fab fa-bluesky"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="/assets/files/PhilReynolds-CV_2024-03.pdf"
           title="Download CV">
            <i class="fas fa-file-download"></i></a>
    </div>
    <div class="justify-end"></div>
</nav>
