/* *** Variables *** */
html {
  scroll-behavior: smooth;
  font-family: "Krub", Verdana, Geneva, sans-serif;
}
html body {
  margin: 0;
}
html body.dark-mode {
  background-color: #0e182a;
  background: linear-gradient(100deg, #0e182a, #210047);
  color: #ece9e6;
}
html body.dark-mode .dark {
  display: block;
}
html body.dark-mode .light {
  display: none;
}
html body.dark-mode nav a, html body.dark-mode nav button {
  background: #ffffffe6;
  color: #495087;
}
html body.dark-mode nav a:hover {
  color: #05285a;
  background: #fff;
}
html body.dark-mode nav button:hover {
  color: #05285a;
  background: linear-gradient(-45deg, #dfecf1, #f6f8f9);
}
html body.dark-mode .author {
  color: #c8bedc;
}
html body.dark-mode article a {
  color: #03DAC6;
  text-decoration: none;
}
html body.dark-mode article a:hover {
  color: #03DAC6bb;
}
html body.dark-mode article code.inline {
  color: #c8bedc;
}
html body.light-mode {
  background-color: #dfecf1;
  background: linear-gradient(-45deg, #dfecf1, #f6f8f9);
  color: #05285a;
}
html body.light-mode .light {
  display: block;
}
html body.light-mode .dark {
  display: none;
}
html body.light-mode .lab-logo {
  background-color: #0e182a;
  background: linear-gradient(100deg, #0e182a, #210047);
  -webkit-box-shadow: 0 5px 10px 10px #0e182a;
  box-shadow: 0 5px 10px 10px #0e182a;
}
html body.light-mode nav a, html body.light-mode nav button {
  background: #495087;
  color: #ece9e6;
}
html body.light-mode nav a:hover {
  color: #0e182a;
}
html body.light-mode nav button:hover {
  color: #ece9e6;
  background: linear-gradient(100deg, #0e182a, #210047);
}
html body.light-mode .author {
  color: #495087;
}
html body.light-mode article a {
  color: #6200EEbb;
  text-decoration: none;
}
html body.light-mode article a:hover {
  color: #3700B3;
}
html body.light-mode article code.inline {
  color: #495087;
}
html body header {
  text-align: center;
}
html body header nav {
  margin: 1.4rem 0;
}
@media (min-width: 992px) {
  html body header nav {
    margin: 2rem 0;
  }
}
html body header nav a, html body header nav button {
  display: inline-block;
  text-align: center;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  box-shadow: 6px 4px 8px 0 #0006;
  border-radius: 100%;
}
@media (max-width: 370px) {
  html body header nav a, html body header nav button {
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
  }
}
html body header nav a:hover, html body header nav button:hover {
  box-shadow: none;
  transition: all 0.3s;
}
html body header h1, html body header h2, html body header h3 {
  margin: 0;
  font-weight: 400;
  font-family: "Josefin Sans", Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
html body header h1.author, html body header h2.author, html body header h3.author {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
html body main {
  max-width: 42rem;
  margin: 0 auto;
}
html body main article {
  padding: 0 0.5rem;
}
html body main article h1 {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 0;
}
html body main article h2, html body main article h3, html body main article h4 {
  margin-bottom: 0;
}
html body main article h2 {
  font-size: 1.4rem;
}
html body main article h2 .link-spacer {
  margin-left: 45px;
}
html body main article h2 button {
  visibility: hidden;
  border: none;
}
html body main article h2:hover button {
  visibility: visible;
  color: #495087;
  background-color: inherit;
}
html body main article h3 {
  font-size: 1.2rem;
}
html body main article h4 {
  font-size: 1.1rem;
}
html body main article p {
  font-size: 1.1rem;
  margin-top: 0;
  padding: 0 1rem;
}
html body main article p.subheading {
  font-size: 1.2rem;
  font-weight: 200;
}
@media (min-width: 992px) {
  html body main article {
    padding: 0;
  }
  html body main article h1 {
    font-size: 2.8rem;
  }
  html body main article h2 {
    font-size: 1.8rem;
  }
  html body main article h3 {
    font-size: 1.6rem;
  }
  html body main article h4 {
    font-size: 1.4rem;
  }
  html body main article p {
    margin-top: 0;
  }
  html body main article p.subheading {
    font-size: 1.4rem;
    font-weight: 200;
  }
  html body main article .center {
    text-align: center;
  }
}
html body main article pre {
  max-height: 36rem;
}
html body main article blockquote {
  color: #dfecf1;
  border-left: 0.2rem solid #dfecf1;
  padding-left: 0.5rem;
}

/*# sourceMappingURL=blog.css.map */
