/* *** Variables *** */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$heading-font: 'Josefin Sans', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$body-font: 'Krub', Verdana, Geneva, sans-serif;

$dark: #0e182a;
$ink-dark: #05285a;
//$ink-dark: #212529;
//$ink-dark: $dark;
$light: #dfecf1;
$ink-light: #ece9e6;

$white: #f6f8f9;
$gray: #dfecf1;
$dark-gray: #495087;
$medium-gray: #c8bedc;

$dark-background: linear-gradient(100deg, $dark, #210047);
//$light-background: linear-gradient(100deg,  #CFDEF3, #d5f2ff);
//$light-background: linear-gradient(100deg, #d5f2ff, #fffffb 15%, #fffffb 85%, #d5f2ff);
$light-background: linear-gradient(-45deg, $light, $white);

$dark-link: #03DAC6;
$dark-link-hover: #03DAC6bb;

$light-link: #6200EEbb;
$light-link-hover: #3700B3;

html {
  scroll-behavior: smooth;
  font-family: $body-font;
  min-height: 100vh;

  body {
    margin: 0;
    height: 100%;

    &.dark-mode {
      background-color: $dark;
      background: $dark-background;
      color: $ink-light;

      .dark {
        display: block;
      }

      .light {
        display: none;
      }

      nav {
        a, button {
          background: #ffffffe6;
          color: $dark-gray;
        }

        a:hover {
          color: $ink-dark;
          background: #fff;
        }

        button:hover {
          color: $ink-dark;
          background: $light-background;
        }
      }

      .author {
        color: $medium-gray;
      }

      article {
        a {
          color: $dark-link;
          text-decoration: none;

          &:hover {
            color: $dark-link-hover;
          }
        }

        code.inline {
          color: $medium-gray;
        }
      }
    }

    &.light-mode {
      background-color: $gray;
      background: $light-background;
      color: $ink-dark;

      .light {
        display: block;
      }

      .dark {
        display: none;
      }

      nav {
        a, button {
          background: $dark-gray;
          color: $ink-light;
        }

        a:hover {
          color: $dark;
        }

        button:hover {
          color: $ink-light;
          background: $dark-background;
        }
      }

      .author {
        color: $dark-gray;
      }

      article {
        a {
          color: $light-link;
          text-decoration: none;

          &:hover {
            color: $light-link-hover;
          }
        }

        code.inline {
          color: $dark-gray;
        }
      }
    }

    header {
      text-align: center;


      nav {
        margin: 1.4rem 0;
        @media (min-width: $breakpoint-lg) {
          margin: 2rem 0;
        }

        a, button {
          display: inline-block;
          text-align: center;
          height: 3rem;
          width: 3rem;
          line-height: 3rem;
          box-shadow: 6px 4px 8px 0 #0006;
          border-radius: 100%;
          @media (max-width: 370px) {
            height: 2.4rem;
            width: 2.4rem;
            line-height: 2.4rem;
          }

          &:hover {
            box-shadow: none;
            transition: all 0.3s;
          }
        }

      }

      h1, h2, h3 {
        margin: 0;
        font-weight: 400;
        font-family: $heading-font;

        &.author {
          text-transform: uppercase;
          letter-spacing: 0.25rem;
        }

        &.date {

        }
      }
    }

    main {
      max-width: 42rem;
      //max-width: 70ex;

      margin: 0 auto;

      article {
        padding: 0 0.5rem;

        h1 {
          text-align: center;
          font-size: 1.6rem;
          margin: 1rem 0;
        }

        h2, h3, h4, h5 {
          margin-bottom: 0;
        }

        h2 {
          font-size: 1.4rem;
          text-align: center;

          .link-spacer {
            margin-left: 45px;
          }

          button {
            visibility: hidden;
            border: none;
          }

          &:hover {
            button {
              visibility: visible;
              color: $dark-gray;
              background-color: inherit;
            }
          }
        }

        h3 {
          font-size: 1.2rem;
        }

        h4 {
          font-size: 1.1rem;
        }

        p {
          font-size: 1.1rem;
          margin-top: 0;
          padding: 0 1rem;

          &.subheading {
            font-size: 1.2rem;
            font-weight: 200;
          }
        }

        @media (min-width: $breakpoint-lg) {
          padding: 0;
          h1 {
            font-size: 2.8rem;
          }
          h2 {
            font-size: 1.8rem;
          }

          h3 {
            font-size: 1.6rem;
          }

          h4 {
            font-size: 1.4rem;
          }

          p {
            margin-top: 0;

            &.subheading {
              font-size: 1.4rem;
              font-weight: 200;
            }
          }
          .center {
            text-align: center;
          }
        }

        pre {
          max-height: 36rem;
        }

        blockquote {
          color: $gray;
          border-left: 0.2rem solid $gray;
          padding-left: 0.5rem;
        }
      }
    }

  }
}

