<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="author" content="Phil Reynolds">
    <meta name="description" content={{ page.summary }}>

    <!-- Font Family-->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/30fa2950fc.js"></script>
    <script src="/assets/js/ideal-image-slider.js"></script>
    <link href="/assets/css/prism.css" rel="stylesheet">
    <link href="/assets/css/blog-fonts.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/ideal-image-slider.css" rel="stylesheet">
    <link href="/assets/css/ideal-image-slider-default-theme.css" rel="stylesheet">

    <title>{{ page.full-title }}</title>
</head>
<body class="blog">
{% include blog-header.liquid %}


<main>
    <article>
        {{ content }}
    </article>
</main>

{% include blog-scripts.html %}
</body>
</html>