<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!-- Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/30fa2950fc.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">

    <title>{{ site.title }}</title>

</head>

<body class="dark purple grad">

<nav>
    <div class="theme">
        <button class="btn theme-button" id="theme-toggle">Theme</button>
        <button class="btn color-button" id="color-switch">Colour</button>
        <button class="btn grad-button" id="grad-toggle">Toggle Gradient</button>
    </div>
    <div class="social">
        <a class="btn" data-placement="top" data-toggle="tooltip" href="mailto:hello@purpleriver.dev" title="Contact">
            <i class="fas fa-envelope"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/Phil6"
           title="LinkedIn">
            <i class="fab fa-linkedin"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://github.com/phil-6/" title="GitHub">
            <i class="fab fa-github"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://twitter.com/PurpleRiver_Dev"
           title="Twitter">
            <i class="fab fa-twitter"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="https://www.polywork.com/philreynolds"
           title="Polywork">
            <i class="fas fa-puzzle-piece"></i></a>
        <a class="btn" data-placement="top" data-toggle="tooltip" href="/assets/files/PhilReynolds-CV_2020-02.pdf"
           title="Download CV">
            <i class="fas fa-file-download"></i></a>
    </div>
    <div class="justify-end">
    </div>
</nav>

<main>
    {{ content }}
</main>

{% include body-scripts.html %}
</body>
</html>
