<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!-- Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/30fa2950fc.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">

    <title>{{ site.title }}</title>

</head>

<body class="dark purple grad">

{% include main-nav.html %}

<main>
    {{ content }}
</main>

{% include body-scripts.html %}
</body>
</html>
